

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: calc(100vh - 50px);
    display: flex;
    font-family: 'Source Code Pro', monospace;
    padding-top: 50px;
}

.send__container,
.return__container{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    
}

.send__container{
    border: 0px;
    padding: 20px;
}

label{
    display: inline-block;
    width: 120px;
}

input, textarea{
    padding: 5px;
    flex: 1 1 auto;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div{
    display: flex;
    align-items: center;
}

span{
    padding-block: 5px;
}

h2{
    padding-bottom: 50px;
    font-size: 2rem;
}

hr{
    margin-top: -50px;
    width: 4px;
    background-color: black;
}

button{
    width: fit-content;
    padding: 5px 10px;
    align-self: center;
}

.return{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.return__item--container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.return__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
    width: 70%;
}

.return__item--container:nth-child(even){
    background-color: rgb(197, 197, 197);
}

.return__item--container:nth-child(odd){
    background-color: rgb(95, 151, 197);
}

label{
    text-align: center;
    padding-right: 20px;
    font-weight: 700;
}

img{
    display: block;
    min-height: 0px;
    max-height: 100px;
    align-self: center;
    border: 2px black solid;
}

.changelog__container{
    display: flex;
    flex-direction: column;
}

.changelog__title{
    margin-top: 50px;
}

ul{
    padding-inline: 50px;
}

li{
    padding-bottom: 10px;
}

@keyframes spinner {
    50%{
        transform: rotate(3turn);
        top: 100px;
    }

}

.spinner{
    animation: spinner 4s linear infinite;
    background-color: black;
    width: 20%;
    height: 5px;
    position: absolute;
    top: 50%;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
}

.opacity{
    animation: opacity 500ms ease-in-out backwards;
}